@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');
.first{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    gap: 200px;
    .left_wrap{
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        padding: 25px;
        h1{
            font-family: 'Allura', cursive;
            color: #0C6967;
            font-size: 5vw;
            font-weight: 100;
            padding-bottom: 40px;
            }
            h3{
                font-size: 1.2vw;
                color: #48484888;
                padding: 10px;
            }
            h2{
                font-family: "rene-bieder-milliard-medium";
                font-size: 2.8vw;
                color: #D95103;
                font-weight: 800;
            }
            h4{
                font-size: 2.8vw;
                width: 590px;
                font-weight: 900;
            }
    }
    .image{
        &::after{
            content: "";
            height: 400px;
            background: #0C6967;
            width: 400px;
            display: flex;
            position: absolute;
            top: 250px;
            right: 137px;
            border-radius: 100%;
            z-index: -9;
        }
        .im{
            padding-top: 34px;         
            height: 550px;
            width: 450px;
            display: flex;
            justify-content: center;
            overflow: hidden;
            border-radius: 0 0 100% 100%;
            img{
                height: 550px;
            }
            &::before{
                content: "";
                width: 200px;
                height: 165px;
                top: 250px;
                background: radial-gradient(#eeeeee 22%, transparent 25%);
                background-size: 25px 25px;
                background-position: 0px 70px;
                position: absolute;
                right: 410px;
                z-index: -99;
            } 
            &::after{
                content: "";
                width: 200px;
                height: 165px;
                background: radial-gradient(#eeeeee 22%, transparent 25%);
                background-size: 25px 25px;
                background-position: 0px 70px;
                position: absolute;
                right: 60px;
                bottom: 90px;
                z-index: -99;

            }
        }
        
    }
    
}