.loc{
    width: 100%;
    height: 100%;
    .lotion{
            position: absolute;
            display: flex;
            align-items: start;
            flex-direction: column;
            width: 400px;
            height: 85px;
            padding: 14px 0;
            gap: 8px;
            margin: 190px 0 0 525px;
            .tet{
                position: relative;
                font-size: 18px;
                height: 500px;
                width: 400px;
                line-height: 25px;
                background-color: #FFFFFF;
                padding: 15px 0;
                border-radius: 12px;
                text-align: center;
                box-shadow: 0px 0.221px 2.795px 0px rgba(0, 0, 0, 0.01), 0px 0.532px 6.717px 0px rgba(0, 0, 0, 0.02), 0px 1.002px 12.647px 0px rgba(0, 0, 0, 0.03), 0px 1.787px 22.56px 0px rgba(0, 0, 0, 0.03), 0px 3.342px 42.195px 0px rgba(0, 0, 0, 0.04), 0px 8px 101px 0px rgba(0, 0, 0, 0.05);
                &::after {
                    content: '';
                    position: absolute;
                    width: 10px;
                    height: 10px;
                    border-top: transparent;
                    border-left: transparent;
                    border-right: 1px solid #fff;
                    border-bottom: 1px solid #fff;
                    box-shadow: 0px 0.221px 2.795px 0px rgba(0, 0, 0, 0.0), 0px 0.532px 6.717px 0px rgba(0, 0, 0, 0.0), 0px 1.002px 12.647px 0px rgba(0, 0, 0, 0.0), 0px 1.787px 22.56px 0px rgba(0, 0, 0, 0.03), 0px 3.342px 42.195px 0px rgba(0, 0, 0, 0.04), 0px 8px 101px 0px rgba(0, 0, 0, 0.05);
                    bottom: -5px;
                    left: calc(60% - 15px);
                    background: #fff;
                    transform: rotate(-135deg);
                }
                p{
                    color: rgb(32, 146, 195);
                }
            }
            span{
                color: red;
                font-size: 1.5vw;
                margin:  0 225px;
                position: relative;
                bottom: -6px;
            }
    }
    .imag{
        img{
            width: 100%;
            height: 640px;
            border: 4px, 0px, 4px, 0px;
        }
    }
}


